!!!5
html
	head
		title #{title} - HCPIN Graph Output
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js")
		script(src="js/arbor.js")
		link(rel='stylesheet', href='stylesheets/stylesheet.css')
	body
		button(id="showListButton")
			| List
		button(id="showGraphButton")
			| Graph
		div(id="cy")
		ul(id="idList")
		script(type="text/javascript").
			var HCPIN_GRAPH = {};
			HCPIN_GRAPH.nodes=!{nodes};
			HCPIN_GRAPH.edges=!{edges};
			

			$("#idList").hide();

			for(var i = 0; i < HCPIN_GRAPH.edges.length; i++){
				var link1 = '<a href="http://www.uniprot.org/uniprot/' + HCPIN_GRAPH.edges[i].data.source + '">';
				link1 = link1 + HCPIN_GRAPH.edges[i].data.source + '</a>';
				var link2 = '<a href="http://www.uniprot.org/uniprot/' + HCPIN_GRAPH.edges[i].data.target + '">';
				link2 = link2 + HCPIN_GRAPH.edges[i].data.target + '</a>';

				$("#idList").append("<li>" + link1 + ", " + link2 + "</li>");
			}
			$('#showListButton').on('click', function(){
				$('#cy').hide();
				$('#idList').show();
			});
			$("#showGraphButton").on('click', function(){
				$('#idList').hide();
				$('#cy').show();	
			});
		script(src="js/graph.js")
