body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

.button_bar{
	display: table;
	margin: 0 auto;
	margin-bottom: 10px;
}

button{
	margin: 5px;
}

#inputinfo{
	display: block;
	width: 400px;
	margin: 0 auto;	

	color: grey;
}

#inputform{
	width: 50%;
	margin: 0 auto;
}

#inputbox{
	display: block;
	width: 400px;
	margin: 0 auto;
}

#inputsubmit{
	display: block;
	width: 400px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

#idList{
	margin-left: calc(50% - 150px);
}

#hcpin_container{
	width: 100%;
	display:table;
}

#cy {
  height: 600px;
  width: 70%;
  border: 1px solid black; 
  display: table-cell;
}

#uniprot_data{
  width: 30%;
  height: 600px;
  border: 1px solid black;
  display: table-cell;
};

#uniprot_html{
	width: 90%;
	height: 500px;
	margin-left: 10px;
}
